  .header-container {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color:#263238;
    border-bottom: 1px solid #fff ;
  }
  
  .header-title {
    padding: 15px 20px;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
  }
  
  @media (min-width: 850px) {
    .header-title {
      font-size: 27px;
      
    }
  }